@import url("addArtist.css");
@import url("addSong.css");
@import url("artist.css");
@import url("detail.css");
@import url("nav.css");


* {
  margin: 0px;
  padding: 0px;
}

:root {
  --background-color: black;
  --main-text: white;
  --background-gold: rgb(180,149,32);
}

body {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/d/d4/White-Label-Record-Marcus-Andrews.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    min-height: 100vh;
}

#main_container {
  background-color: rgba(0,0,0,0.8);
  min-height: 95vh;
  padding-bottom: 25px;
}

